<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="test_bd.Properties.Settings.test_tt_4_edit1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\test_tt 4 edit2.mdb&quot;;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="test_bd.Properties.test_tt.test_ttConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\test_tt.mdb;User ID=admin"
            providerName="System.Data.OleDb" />
        <add name="test_bd.Properties.test_tt.test_tt_4_editConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\test_tt 4 edit1.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>